# 環境変数（APIキーなどの機密情報）
.env

# Next.js / Node.js 開発関連
/node_modules
/.next
/out
/build
/dist

# ログと一時ファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn

# Mac / VS Code 関連のシステムファイル
.DS_Store
.vscode/